*{
    padding:  0px ;
    margin : 0px ;
    box-sizing: border-box;
    color : white ;
}
*::selection{
    background-color: #6CB4EE;
}
body{
    background-image: url("photos/background1.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
}
nav{
    display : grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}
ul{
    list-style : none ;
    display : grid ;
    grid-template-columns: repeat(5 , auto);
    gap : 30px ;
    font-size : 20px ;
    font-weight: 400;
    padding : 10px ;

}
li{
    position : relative;
    cursor: pointer;
}
li::before{
    content:'';
    position:absolute;
    width: 0;
    height: 2px;
    background-color: #6CB4EE;
    left:0;
    bottom: -10px;
    transition: 0.3s all ease-in-out;
}
li:hover::before{
    width : 100% ;
}
.logo{
    display : flex;
    font-size:  30px;
    align-items: center;
    margin-left: 100px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    margin-left:30px ;
}
div{
    width : 100%;
}
nav{
    height : auto ;
    background-color: black;
}
h1 {
    font-size: 4rem;
    font-weight: 700;
    margin:0;
    text-align: center;
}

/* main section goes here */
.main-section{
    display : flex ;
    flex-direction: column;
    gap : 30px ;
    align-items: center;
    height: auto;
    margin-top: 50px;
}
.main-section p {
    font-size : 20px;
}
/* anchor tags styling*/
a{
    text-decoration: none;
}
