*{
    padding:  0px ;
    margin : 0px ;
    box-sizing: border-box;
    color : white ;
}
*::selection{
    background-color: #6CB4EE;
}
.background ,.registration-background , .faqs{
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 100vh;
    display: flex;
}
/*main section backround*/
.background {
    background-image: url("photos/background1.jpg");
}
/* registration background */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
}
nav{
    display : grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}
ul{
    list-style : none ;
    display : grid ;
    grid-template-columns: repeat(5 , auto);
    gap : 30px ;
    font-size : 20px ;
    font-weight: 400;
    padding : 10px ;

}
li{
    position : relative;
    cursor: pointer;
}
li::before{
    content:'';
    position:absolute;
    width: 0;
    height: 2px;
    background-color: #6CB4EE;
    left:0;
    bottom: -10px;
    transition: 0.3s all ease-in-out;
}
li:hover::before{
    width : 100% ;
}
.logo{
    display : flex;
    font-size:  30px;
    align-items: center;
    margin-left: 100px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    margin-left:30px ;
}
div{
    width : 100%;
}
nav{
    height : auto ;
    background-color: black;
}
.title{
    font-size: 4rem;
    font-weight: 700;
    margin:0;
    text-align: center;
}

/* main section goes here */
.main-section{
    display : flex ;
    flex-direction: column;
    gap : 30px ;
    align-items: center;
    height: auto;
    margin-top: 50px;
}
.main-section p {
    font-size : 20px;
}
/* anchor tags styling*/
a{
    text-decoration: none;
}
/*registration form*/
.registration-background{
    background-image: url("photos/registration2.png");
}
.registration-background , .faqs{
    display : grid ;
    grid-template-columns: repeat(2,auto);
    align-items: center;
}

form{
    display : flex ;
    flex-direction: column;
    align-items: center;
    margin-top : 50px ;
    height : auto ;
    gap : 20px;
}
form h1{
    font-size : 50px;
}
input{
    width : 400px ;
    height : 50px ;
    border-radius: 10px;
    font-size : 20px ;
    text-align: center;
    background-color: transparent;
}
input::placeholder{
    text-align: center;
}
.registration-background button{
    padding : 10px ;
    border-radius: 10px ;
    background-color: #6CB4EE;
    border : none;
    width : 200px ;
    height : 50px;
    cursor : pointer;
    transition: 1s ease;
}
button:hover{
    background-color : white ;
    color : #6CB4EE;
}

/* workshops styling */
.background2 {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center; 
    align-items: center; 
    height: 150vh; 
    margin: 0; 
    padding: 90px; 
    box-sizing: border-box; 
    color:white;
    gap:5px;
}
.card {
    width: 200px;
    height: 300px;
    perspective: 1000px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.card h1{
    text-align: center;
}
.card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
}
.card:hover .card-inner {
    transform: rotateY(180deg);
}
.card-font, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px #6CB4EE;
}
.card-back {
    background-color: 000;
    color: white;
    transform: rotateY(180deg);
}
.card-font-1, .card-font-2, .card-font-3, .card-font-4, .card-font-5, .card-font-6 {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
.card-font-1 {
    background-image: url("photos/1.jpg");

}
.card-font-2 {
    background-image: url("photos/2.jpg");
}
.card-font-3 {
    background-image: url("photos/3.jpg");
}
.card-font-4 {
    background-image: url("photos/4.jpg");
}
.card-font-5 {
    background-image: url("photos/5.jpg");
}
.card-font-6 {
    background-image: url("photos/6.jpg");
}
h1 {
    font-size: 1.2rem;
    margin: 0;
}

/* faqs section design */
.faqs{
    background-color:black;
}
.faqs h1{
    font-size : 40px ;
    font-weight : 600;
}
.questions-container{
    display : flex ;
    flex-direction : column;
    gap : 20px ;
    align-items: center;
    justify-content: center;
}
.questions-container button{
    width : 400px ;
    padding :10px ;
    height : 50px ;
    background-color : transparent;
    border : none ;
    cursor: pointer;
    font-size : 20px ;
    font-weight : 600;
    display : flex ;
    align-items: center;
    justify-content: space-between;
}
span{
    flex-grow:1;
    color : #7CB9E8
}
#ans1 , #ans2 , #ans3 , #ans4 , #ans5{
    width : 400px ;
    max-height : 0px ;
    background-color : transparent;
    text-align: center;
    overflow: hidden;
    transition : 0.3s ease ;
}
.block{
    width : auto ;
    border-radius: 10px ;
    font-size : 20px ;
    font-weight : 400;
    border : 1px solid grey
}